.class2 {
    background-color: black;
    color: white;

}

.class3 {
    background-color: rgb(242, 255, 0);
    color: rgb(0, 0, 0);

}

.class2, .class3 {
    font-family: Helvetica, "Times New Roman," sans-serif;
    font-size: 28px;
}

#username {
    font-family: Helvetica, sans-serif;
    font-size: 28px;
}

#name {
    font-family: Helvetica, sans-serif;
    font-size: 28px;
}
